ul,
li,
p {
margin: 0px;
padding: 0px;
list-style: none;
font-size: 1.2rem;
font-family: Arial;
}

main {
  flex-direction: column;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}



h1::after{
  content: '';
  width: 100%;
  height: 12px;
  background-color: #022784;
  margin-right: 10px;
}

.grid a {
text-decoration: none;
color: white;
}

.grid img {
max-width: 100%;
/* display: block; */
}

h1{
  /* display: flex; */
  /* align-items: center;
  justify-content: center; */
  color: var(--text);
  display: grid;
  place-items: center;
  margin: 20px;
  /* align-self: center; */
}

.grid {
display: grid;
justify-content: center;
grid-template-columns: repeat(3, 1fr);
grid-gap: 20px;
margin: 0 auto;
max-width: 800px;
padding: 10px;
}

/* .grid-item:nth-child(1) {
grid-row: 1 / 3;
grid-column: span 2;
} */

.grid-item {
display: grid;

}

.grid-item img, iframe {
grid-column: 1;
grid-row: 1/3;
align-self: end;
border-radius: 20px;
box-shadow: 0px 2px 6px rgba(0, 0, 93, 0.7);

}

.grid-item p {
margin-top: 10px;
padding: 10px;
color: white;
grid-column: 1;
grid-row: 2;
align-self: end;
border-radius: 5px;
}

.grid p, .conteudo-item img {
  display: none;
}

.grid input{
  display: none;
}

/* seletor de irmão adjacente */
input:checked+label p,
input:checked+label .conteudo-item img {
display: block;
}

.barra{
  display: flex;
  flex-flow: column wrap;
  background: #022784;
  border-radius: 5px;
  width: 100%;
  height: 10px;
}


.borda::after{
  content: '+';
  display: inline-grid;
  place-items: center;
  border-radius: 5px;
  color: white;
  font-size: 25px;
  background-color: #0227848f;
}


.conteudo-item{
  display: flex;
  /* flex-direction: column;
  flex-wrap: wrap; */
  flex-flow: column wrap;
  margin-top: 10px;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.6);

}

.info{
  display: inline-flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.info p{
  font-size: 40px;
}

#youtuber{
  margin: 5px;
  padding: 0;
  font-family: italic;
  font-size: 11px;
}

.conteudo-item img{
  width: 55px;
  margin: 5px;
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (max-width: 768px) {
  .grid {
      display: grid;
      grid-template-columns:  1fr;
      grid-gap: 60px;
      margin: 0 auto;
      padding: 10px;
    }
  .grid-item:nth-child(1) {
      grid-row: initial;
      grid-column: initial;
    }
    
  .grid-item:nth-child(8n) {
      grid-column: initial;
    }
}