* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html{
  overflow-x: hidden;
}

body {
  font-family: Arial, sans-serif;
  background-color: #000;
  color: #fff;
  overflow-x: hidden;
  transition: background-color 1s;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.left-side {
  flex: 1;
  padding: 20px;

}

.left-side h1 {
  font-size: 4rem;
  line-height: 1;
  pointer-events: none;
  margin: 0 0 0 25px;

}

#clip-pth{
  position: relative;
  top: 9.6em;
  left: 40%;
  background: #008bb0;
  width: 330px;
  height: 50px;
  clip-path: inset(5% 20% 15% 10%);
  z-index: -1;
  filter: blur(0px) opacity(0.9);
}



#text-h1 {
  font-size: 2.2em;
}

h1::before{
  content: "";
  display: inline-flex;
  position: relative;
  right: 25px;
  top: 120px;
  width: 10px;
  height: 150px;
  background: #fff;
}


.left-side p {
  text-align: justify;
  font-size: 1.8rem;
  margin: 20px 0;
  pointer-events: none;

}

.buttons {
  display: flex;
  gap: 10px;
}

.buttons .btn-started {
  background-color: #008bb0;
  ;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px;
}

.buttons .btn-generator {
  background-color: #fff;
  color: #000;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px;
}

.right-side {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  padding: 20px;
  pointer-events: none;

}

#scr-btn, #exit-btn, .wrapper{
  display: none;
}

.video-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  width: 170%;
}

.video-item {
  /* border-radius: 10px; */
  overflow: hidden;
}

video-item iframe {
  width: 100%;
  height: auto;
}

video {
  /* display: none; */
  width: 100%;
  height: 100%;
  border-radius: 2em;

}

.video-border{
  border-radius: 1em;


}

#video2 {
  width: 25vw;
}

input{
  display: none;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .right-side {
    grid-template-columns: 1fr;
  }

  .video-grid {
    grid-template-columns: 1fr;
  }
}

img#logo {
  position: absolute;
  width: 35%;
  /* left: 0%; */
  top: 17em;
  right: -6em;
  filter: drop-shadow(-15px 4px 20px black) brightness(0.7);
}

#videos img {
  transition: transform 0.3s ease-out;
}


#right-bar {
  position: fixed;
  right: 0;
  height: 100vw;
  width: 50px;
  border-radius: 1em 0 0 1em;
}

section {
  position: relative;
  z-index: 10;
  background: white;
}

#videos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  gap: 1em;
  padding: 5em;
}

#videos img {
  width: 200px;
}

#video-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background: url("../../../public/images/69603047_uyfydu4.jpg");
  width: 200px;
}

#video-box img {
  width: 70px;
}
