#logo{
    display: none;
}

.right-side{
    display: none;
}

.left-side{
    position: absolute;
    top: 5%;
}

.box{
    height: 100%;
}

.buttons{
    position: relative;
    top: 10em;
    justify-content: center;
    height: 5em;
}

.buttons .btn-started{
    font-size: 30px;
}

.buttons .btn-generator{
    font-size: 30px;
}
.left-side {
    padding: 150px;
}

.left-side p{
    font-size: 2.8rem;
    position: relative;
    top: 3em;
}

.left-side h1{
    position: relative;
    top: 1em;
    font-size: 5em;
}


h1::before{
    right: 50px;
    top: 120px;
    width: 20px;
    height: 150px;
    background:linear-gradient(45deg,#008bb0,#024b5f );
}

#clip-pth{
    display: none;
}

/* 
#videos{
    display: flex;
} */

#target-section {
    display: none;
    position: fixed;
    bottom: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff; /* ou outra cor de fundo desejada */
    z-index: 1000;
    overflow: auto;
    transition: bottom 0.5s ease-in-out;
  }
  
  #target-section.fullscreen {
    display: block;
  }
  
  #target-section.slide-in {
    bottom: 0;
  }
  
  #target-section.slide-out {
    bottom: -100%;
  }
  
  #exit-btn {
    display: block;
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 10px 20px;
    background-color: #f00; /* cor do botão de fechar */
    color: #fff;
    border: none;
    cursor: pointer;
  }

  input{
    display: flex;
    background: #f0f0f0;
    border-radius: 1em;
    width: 90%;
    height: 10vw;
    padding: 30px;
    margin: 50px 70px;
    color: #0000008f;
    font-size: 3.5em;
    font-weight: 300;
    font-family: system-ui;
    font-style: italic;
    align-items: center;
  }
  
  
  #exit-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 10px 20px;
    background-color: #f00; /* cor do botão de fechar */
    color: #fff;
    border: none;
    cursor: pointer;
  }
    
#scr-btn{
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #008bb0;
    z-index: 100;
    position: absolute;
    top: 105em;
    right: -10%;
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

.wrapper {
    width: 90%;
    max-width: 1536px;
    margin-inline: auto;
    position: absolute;
    height: 200px;
    margin-top: 5rem;
    overflow: hidden;
    mask-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 1) 20%,
        rgba(0, 0, 0, 1) 80%,
        rgba(0, 0, 0, 0)
    );
    display: block;
    top: 90em;
    left: 50%;
}

@keyframes scrollLeft {
  to {
    left: -200px;
  }
}

.item {
  width: 300px;
  height: 200px;
  background-color: red;
  border-radius: 6px;
  position: absolute;
  left: max(calc(300px * 8), 100%);
  animation-name: scrollLeft;
  animation-duration: 30s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.item1 {
  animation-delay: calc(30s / 8 * (8 - 1) * -1);
}

.item2 {
  animation-delay: calc(30s / 8 * (8 - 2) * -1);
}

.item3 {
  animation-delay: calc(30s / 8 * (8 - 3) * -1);
}

.item4 {
  animation-delay: calc(30s / 8 * (8 - 4) * -1);
}

.item5 {
  animation-delay: calc(30s / 8 * (8 - 5) * -1);
}

.item6 {
  animation-delay: calc(30s / 8 * (8 - 6) * -1);
}

.item7 {
  animation-delay: calc(30s / 8 * (8 - 7) * -1);
}

.item8 {
  animation-delay: calc(30s / 8 * (8 - 8) * -1);
}

.title h1{
	font-size: 10px !important;
}