/* CSS FOR PORTRAIT SCRRENS */

.nav, .footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 2em;
    background: #0000008c;
    transition: background 0.5s, color 0.5s;
}


.logo{
    margin: 0 auto;
}

.links img{
    display: none;
}

.hero-copy{
    top: 45%;
}


.hero-copy h1{
    font-size: 20vw;
}

.hero-copy p{
    font-size: 8vw;
    margin: 0.2em 0;
}

form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.footer {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.links{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.links a{
    margin: 0.5em;
}


.sidebar.show {
    display: block;
    width: 100%; /* Largura desejada da barra lateral */
}

#sidebar button{
    pointer-events: auto;
}


#sidebar-info p{
    font-weight: 200;
    margin: 0px 20px;
    text-align: justify;
    padding: 0 10px;
}

#text-sidebar-portrait{
    display: block;
}

#text-sidebar{
    display: none;
}

#sidebar-hero h2{
    left: 15%;
    top: 15%;
}


#sidebar-hero h2::before{
    left: 40%;
}

#sidebar span{
    background-image: linear-gradient(45deg, #007bff, #0c4786);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-weight: 600;
}

#assistent-bar-img{
    top: 30%;
    right: 40%;
}

#keyboard-gif{
    display: none;
}

#sidebar-info img{
    left: 20%;
    top: 50%;
    width: 300px;
}

#text-sidebar-portrait{
    top: 50%;
    font-size: 1.5em;
}

#text-sidebar2{
    display: none;
}

input{
    padding: 0.7em;
}

label::before{
    content: "";
    display: inline-flex;
    background: white;
    width: 5px;
    height: 10px;
    margin: 5px;

}

button{
    padding: 0.8em;
}