@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Ubuntu:wght@300;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans', sans-serif;
}

body {
  flex: 1 1 100vw;
  flex-wrap: wrap;
}

header,
nav,
main{
  display: flex;
}

/* Header */
/* ---------------------------------------------------------------- */


* ::-webkit-scrollbar {
  width: 12px;
}

* ::-webkit-scrollbar-track {
  background: white;
}

* ::-webkit-scrollbar-thumb {
  background-color: #031926;
  border-radius: 10px;
}

header {
  flex: 1 1 100vw;
  height: 100px;
  background-color: #031926;
  position: sticky;
  top: -5px;
}

#seta{
  align-self: flex-start;
}

#logo {
  flex: 0 1 350px;
  font-size: 26pt;
  font-weight: 800;
  padding-left: 10px;
  color: #faebd7;
  background-color: #031926;
  display: flex;
  justify-content: center;
  align-items: center;
}

#logo img {
  width: 90px;
  padding: 10px
}

#nav-right {
  background-color: #031926;
  padding: 10px;
  display: flex;
  flex: 1 1 auto;
  align-items: center;
  justify-content: flex-end;
}

.user {
  width: 47px;
  height: 47px;
  background: #000;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  box-sizing: border-box;
  border: none;
}

.user:hover {
  border: 1.5px solid #faebd7;
}

.icon-user {
  color: #faebd7;
  font-size: 24px;
  padding: 10px;
  margin: 5px;

}

.search-box {
  background: #fff;
  height: 47px;
  padding: 5px;
  border-radius: 40px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-text {
  outline: none;
  border: none;
  font-size: 12pt;
  padding-left: 10px;

  width: 150px;
  transition: all .5s;
}

.search-btn {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  transition: all .5s;
  background: #009dff;

  display: flex;
  align-items: center;
  justify-content: center;
}

.search-btn i {
  font-size: 18px;
}

a {
  text-decoration: none;
  color: inherit;
}

@media screen and (max-width:610px) {
  header {
    flex-direction: column;
    height: 170px;
  }

  #nav-right {
    justify-content: center;
  }

  #logo a {
    font-size: 20pt;
  }
}

/* Header */
/* ---------------------------------------------------------------- */

/* ---------------------------------------------------------------- */
/* Main */

main {
  width: 100%;
  padding: 15px;
  background-image: radial-gradient(#102430, #031926, #000);
  background-size: 100%;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#seta{
  height: 100%;
  align-self: self-start;
}

.Dictionary-Content {
  display: flex;
  width: 80%;
  flex-wrap: wrap;
}

.Content:hover {
  border: 1px solid #faebd7; 
  box-sizing: border-box;
}

.Content {
  width: 310px;
  padding: 10px;
  margin: auto;
  border-radius: 20px;
  color: white;
  border: 0px solid transparent; 
  transition: all 1s;
  box-sizing: border-box;
}

.Title-Category {
  display: block;
}

.Title-Video {
  text-align: center;
  padding: 0 15px 15px 15px;
  font-family: 'Courier New', Courier, monospace;
}

.Descrição {
  color: #a49c9c;
  font-size: 13px;
}

iframe {
  border-radius: 10px;
}

/* Main */
/* ---------------------------------------------------------------- */
