/* VILIBRAS */

/* ---------------------------------------------------------------- */
/* Main */

main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  background-color: var(--main-bg);
  padding: 20px;
}

.title-dados {
  margin-right: 10px;
  font-weight: 600;
}

.title {
  display: flex;
  flex-direction: column;
}

.title h1 {
  font-size: 50px;
  font-weight: sans-serif;
}

.title h2 {
  text-align: center;
  font-size: 24px;
  font-weight: sans-serif;
}

.profile-card {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 100%;
  height: auto;
  max-width: 1000px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: var(--main-bg);
}

.profile-header {
  display: flex;
}

.profile-image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 20px;
  border: 5px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.profile-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profile-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.msg {
  margin: 20px;
  padding: 10px;
  border-radius: 10px;
  background-color: #76c5f3;
}

.profile-name {
  font-size: 28px;
  font-weight: bold;
  color: var(--perfil-text);
}

.profile-email {
  font-size: 20px;
  font-style: sans-serif;
  color: var(--perfil-text);
}

.profile-bio {
  font-size: 18px;
  color: var(--perfil-text);
  margin-top: 10px;
}

.profile-body {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  padding: 20px;
  margin-top: 20px;
  border-radius: 10px;
}

.dados {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background: var(--perfil-datas);
  border: 1px solid #ccc;
  border-radius: 10px;
}

.profiles {
  display: flex;
  flex-direction: row;
}

.profile-dados {
  width: 50%;
  padding-top: 20px;
  border-radius: 10px;
  margin: 0px 20px 0px 0px;
}

.profile-tipo {
  width: 50%;
  padding-top: 20px;
  border-radius: 10px;
}

.profile-body h3 {
  text-align: start;
  font-size: 20px;
  font-weight: normal;
  color: var(--perfil-text);
}

.profile-row {
  display: flex;
  align-items: center;
  font-weight: sans-serif;
  margin-bottom: 10px;
  color: var(--perfil-text);
}

.profile-row input {
  border: none;
  font-size: 12pt;
  padding: 5px;
  width: 100%;
  border-radius: 5px;
  box-shadow: 0 0 5px var(--section-shadow);
}

.profile-row i {
  font-size: 20px;
  margin-right: 10px;
}

.profile-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  font-weight: sans-serif;
}

.profile-buttons button {
  width: auto;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  padding: 5px 10px 5px 10px;
  cursor: pointer;
}

.profile-buttons i {
  margin-right: 10px;
}

.btn-save {
  background-color: #00a0ff;
  color: #fff;
}

.btn-save:hover {
  background-color: #0090ee;
}

.title-resp {
  flex-wrap: wrap;
}

@media only screen and (max-width: 950px) {
  .profiles {
    flex-direction: column;
  }

  .profile-dados {
    width: 100%;
    margin: 0px 00px 20px 0px;
  }

  .profile-tipo {
    width: 100%;
  }
}

@media only screen and (max-width: 699px) {
  .profile-header {
    flex-direction: column;
  }

  .title-resp {
    overflow: hidden;
  }

  .profile-buttons {
    flex-direction: column;
  }

  .profile-buttons button {
    margin: 5px;
  }
}

/* Main */
/* ---------------------------------------------------------------- */