/* VILIBRAS  QUESTOES*/

/* -------------------------------------------------------- */


/* ---------------------------------------------------------------- */
/* main */

main {
    min-height: 100vh;
    width: 100%;
    display: flex;
    background: var(--main-bg);
    padding: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
}

.questoes {
    height: auto;
    width: 80vw;
    background: var(--main-bg);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    padding: 30px;
    border: 1px solid var(--section-line);
    box-shadow: 0 0 5px var(--section-line);
}

.text-question h1 {
    font-size: 14pt;
    font-weight: 400;
    background-image: linear-gradient(to right bottom, var(--title-1), var(--title-2), var(--title-3));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #ffffff;
}

.informations {
    display: flex;
    font-size: 14pt;
    font-weight: 400;
    padding-bottom: 30px;
    justify-content: flex;
    border-bottom: 1px solid var(--text);
}

.quiz {
    padding: 20px 0;
}

.enunciado {
    padding: 5px 0 5px 0;
    font-size: 16pt;
    font-weight: 300;
    color: var(--text);
}

/* .quiz h2 {
    padding: 5px 0 5px 0;
    font-size: 16pt;
    font-weight: 400;
    color: var(--text);
} */

.answers {
    display: flex;
    flex-direction: column;
}

.btn {
    background: var(--main-bg);
    color: var(--text);
    font-weight: 500;
    width: 100%;
    border: 1px solid var(--text);
    padding: 10px;
    border-radius: 5px;
    margin: 10px 0 10px 0;
    cursor: pointer;
    text-align: left;
    transition: all .3s;
    box-sizing: border-box;
}

.btn:hover {
    border: 1px solid var(--main-bg);
}

#next-btn {
    background-image: linear-gradient(to right bottom, #031926, #04215b, #009dff);
    color: #fff;
    border: none;
    font-weight: 600;
    width: 150px;
    padding: 10px;
    border-radius: 10px;
    margin: 30px auto 0;
    cursor: pointer;
    display: none;
}

.correct {
    background: #004e22;
}

.incorrect {
    background: #fc6060;
}

@media screen and (max-width: 479px) {

    .questoes{
        width: 100vw;
        padding: 30px;
    }
}

/* main  */
/* ---------------------------------------------------------------- */