/* VILIBRAS  QUESTOES*/

/* -------------------------------------------------------- */


/* ---------------------------------------------------------------- */
/* main */

main {
    min-height: 100vh;
    width: 100%;
    display: flex;
    background: var(--main-bg);
    display: flex;
    padding: 5% 0 5% ;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 50px;
}

.msg {
    margin: 20px;
    padding: 10px;
    border-radius: 10px;
    background-color: #76c5f3;
}

.options {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
    font-size: 20px;
}

#edit {
    cursor: pointer;
    color: #00883b;
}
#del {
    cursor: pointer;
    color: #fc6060;
}

.questoes {
    height: auto;
    width: 80vw;
    color: var(--text);
    background: var(--bg-questoes);
    /* border-radius: 20px; */
    display: flex;
    flex-direction: column;
    padding: 30px;
    border-bottom: 1px solid var(--section-line);
}

.text-question h1 {
    font-size: 14pt;
    font-weight: 400;
    background-image: linear-gradient(to right bottom, var(--title-1), var(--title-2), var(--title-3));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #ffffff;
}

.informations {
    display: flex;
    font-size: 14pt;
    font-weight: 400;
    padding-bottom: 30px;
    justify-content: flex;
    color: var(--text);
    gap: 5px;
    border-bottom: 1px solid var(--text);
}

.quiz {
    padding: 20px 0;
}

.enunciado {
    padding: 5px 0 5px 0;
    padding-bottom: 40px;
    font-size: 16pt;
    font-weight: 300;
    color: var(--text);
}

.answers {
    gap: 10px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 20px;
    border: 1px solid var(--bg-questoes);
}

.answer {
    gap: 10px;
    display: flex;
    align-items: center;
}

.btn {
    background: var(--bg-questoes);
    color: var(--text);
    font-weight: 400;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid var(--bg-questoes);
    margin: 10px 0 10px 0;
    cursor: pointer;
    text-align: left;
    transition: all .3s;
    box-sizing: border-box;
    font-size: 12pt;
}

.btn:hover {
    border: 1px solid #777777;
}

#acertou {
    border: 1px solid #00d05a;
}

/* #next-btn {
    background-image: linear-gradient(to right bottom, #031926, #04215b, #009dff);
    color: #fff;
    border: none;
    font-weight: 600;
    width: 150px;
    padding: 10px;
    border-radius: 10px;
    margin: 30px auto 0;
    cursor: pointer;
    display: none;
} */

.correct {
    background: #00d05a;
}

.incorrect {
    background: #fc6060;
}

@media screen and (max-width: 479px) {

    .questoes{
        width: 100vw;
        padding: 30px;
    }
}

/* main  */
/* ---------------------------------------------------------------- */