{% extends 'base.html' %}
{% block title %}Login | VILIBRAS{% endblock %}
{% block content %}
{% load static %}

<link rel="stylesheet" href="{% static 'app/style/login.css' %}">

<main>
    <div class="left">
        <img src="{% static 'app/images/Login-amico.png'%}" alt="">
    </div>
    <div class="right">
        <form action="{% url 'Login' %}" method="post">
            {% csrf_token %}
            <div class="container">
                <h2>Seja bem-vindo</h2>
                <p>Entre em sua conta!</p>
                <div class="box">
                    <input class="required" id="username" name="username" type="text" placeholder="Usuário*" required>
                </div>
                <div class="box">
                    <input name="senha" id="senha" type="password" placeholder="Senha*" required>
                    <i id="eye" class="fa-solid fa-eye-slash"></i>
                </div>
                <div class="box">
                    <p>Não tem uma conta? <span><a href="{% url 'Cadastro' %}">Cadastre-se</a></span></p>
                </div>
                <div class="lets-go">
                    <button type="submit">Enter</button>
                </div>
                {% if error_message %}
                        <p class="error_message">{{ error_message }}</p>
                {% endif %}
            </div>
        </form>
    </div>
</main>

<script src="{% static 'app/js/login.js' %}" type="text/javascript" defer></script>

{% endblock %}