{% extends 'base.html' %}
{% block title %}Questões | VILIBRAS{% endblock %}
{% block content %}
{% load static %}

<link rel="stylesheet" href="{% static 'app/style/questoes.css' %}">

<body>
    <main>
        <div class="box-questoes">
            <div class="main text">
                <h1>Questões</h1>
            </div>
            <div class="quiz">
                <h2 id="pergunta">Pergunta da questão</h2>
                <div id="buttons-resposta">
                    <button class="btn">Resposta 1</button>
                    <button class="btn">Resposta 2</button>
                    <button class="btn">Resposta 3</button>
                    <button class="btn">Resposta 4</button>
                </div>
                <button id="next-btn">Próximo</button>
            </div>
        </div>
    </main>

    <script src="{% static 'app/js/questoes.js' %}" type="text/javascript" defer></script>
</body>

{% endblock %}